body {
  margin: 0;
  padding: 0;
/*  Background fallback in case of IE8 & down, or in case video doens't load, such as with slower connections  */
  background: #333;
  background-attachment: fixed;
  background-size: cover;
}

#video-background {
/*  making the video fullscreen  */
  position: absolute;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: 0;
}

article {
/*  just a fancy border  */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 10px solid rgba(255, 255, 255, 0.5);
  margin: 10px;
}

h1 {
  position: absolute;
  top: 60%;
  width: 100%;
  font-size: 36px;
  letter-spacing: 3px;
  color: #fff;
  font-family: Oswald, sans-serif;
  text-align: center;
}



/*named items*/
body{
  overflow: hidden;
}

#nav-button {
  position: absolute;
  bottom: 36px;
  right: 36px;
}

#video{
  min-width: 100%;
  min-height: 100%;
}

/*how to resize an icon button*/
.md-button.button-48 {
  line-height: 48px;
  width: 64px;
  height: 64px; }

.md-button.button-48 md-icon {
  line-height: 48px;
  width: 48px;
  height: 48px; }


/*.s36 {
  width: 36px;
  height: 36px; }*/